.slogan__title {
  margin-bottom: 30px;
  white-space: pre;
  color: var(--sup-head-color);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}
.slogan__button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--button-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--sup-head-color);
  border-radius: 4px;
}
.slogan {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../image/logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1600px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../image/logo.jpg);
  }

  @media screen and (min-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../image/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    background-size: cover;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../image/logo.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../image/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../image/logo.jpg);
    }
  }
}
