.button-section {
  padding-top: 60px;
  position: static;
}

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.portfolio-buttons__butn {
  display: inline-block;
  margin-right: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.portfolio-buttons__button-second {
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;

  background-color: var(--secondar-button-color);
  height: 38px;
  border-radius: 4px;
  border-style: none;

  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:focus,
  &:hover {
    color: var(--sup-head-color);
    background-color: var(--button-color);
  }
}
