:root {
  --brand-color: #2f303a;
  --button-color: #2196f3;
  --text-primary: #212121;
  --sup-head-color: #ffffff;
  --text-secondary-color: #757575;
  --secondar-button-color: #f5f4fa;
  --primary-fonts: Roboto;
}
$mobile: 480px;
$before-tablet: 767px;
$tablet: 768px;
$before-desktop: 1199px;
$desktop: 1200px;
